---
import Layout from "@/layouts/Layout.astro";
import ProjectsView from "@/components/projects/ProjectsView";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const contentProjects = t("projects");
const contentBreadcrumbs = t("breadcrumbs");

const categories = [
  "All",
  ...new Set(t("projects").items.map((p) => p.category)),
];
---

<Layout type="projects">
  <div class="container pt-24 mx-auto">
    <!-- Breadcrumbs -->
    <nav class="flex items-center space-x-2 text-sm">
      <a href="/">{contentBreadcrumbs.home}</a>
      <svg class="w-4 h-4"><use href="#icon-chevron-right"></use></svg>
      <span>{contentBreadcrumbs.projects}</span>
    </nav>

    <ProjectsView
      client:visible
      projects={contentProjects.items}
      categories={categories}
      t={contentProjects}
    />
  </div>
</Layout>
