---
import Layout from "@/layouts/Layout.astro";
import ProjectsView from "@/components/projects/ProjectsView";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const contentProjects = t("projects");
const contentBreadcrumbs = t("breadcrumbs");

const sortedProjects = [...contentProjects.items].sort((a, b) => {
  if (a.featured && !b.featured) return -1;
  if (!a.featured && b.featured) return 1;

  return b.year - a.year;
});

const categories = [
  "All",
  ...new Set(contentProjects.items.map((p) => p.category)),
];
---

<Layout type="projects">
  <div class="container pt-24 px-4 md:px-8 lg:px-16 mx-auto">
    <!-- Breadcrumbs -->
    <nav class="flex items-center space-x-2 text-sm">
      <a href=`/${lang}`>{contentBreadcrumbs.home}</a>
      <svg class="w-4 h-4"><use href="#icon-chevron-right"></use></svg>
      <span>{contentBreadcrumbs.projects}</span>
    </nav>

    <ProjectsView
      client:visible
      projects={sortedProjects}
      categories={categories}
      t={contentProjects}
    />
  </div>
</Layout>
