---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import CardEducation from "./CardEducation.astro";
import Section from "@/components/ui/Section.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const education = t("education");
---

<Section id="education" title={education.title}>
  <div class="tabs tabs-boxed flex justify-center">
    <!-- Academic -->
    <label class="tab flex-1 max-w-52">
      <input type="radio" name="my_tabs_1" checked="checked" />
      {education.academicFormation}
    </label>
    <div class="tab-content">
      <ul class="list flex items-center">
        {education.itemsAcademic.map((item) => <CardEducation data={item} />)}
      </ul>
    </div>

    <!-- Certifications -->
    <label class="tab flex-1 max-w-52">
      <input type="radio" name="my_tabs_1" />
      {education.certifications}
    </label>
    <div class="tab-content">
      <div class="tabs tabs-boxed flex justify-center">
        {
          education.tags
            .filter((tag) => tag !== "Languages")
            .map((tag, idx) => (
              <>
                <label class="tab">
                  <input type="radio" name="cert_tabs" checked={idx === 0} />
                  {tag}
                </label>
                <div class="tab-content">
                  <ul class="list flex items-center">
                    {education.itemsCertifications
                      .filter((cert) => cert.tag === tag)
                      .map((cert) => (
                        <CardEducation data={cert} />
                      ))}
                  </ul>
                </div>
              </>
            ))
        }
      </div>
    </div>

    <!-- Languages -->
    <label class="tab flex-1 max-w-52">
      <input type="radio" name="my_tabs_1" />
      {education.languages}
    </label>
    <div class="tab-content">
      <ul class="list flex items-center">
        {education.itemsLanguages.map((item) => <CardEducation data={item} />)}
      </ul>
    </div>
  </div>
</Section>
