---
import Section from "@/components/ui/Section.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import CardProject from "./CardProject.astro";
import Button from "@/components/ui/Button.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { title, viewAll, sourceCode, liveDemo, items } = t("projects");
const featuredItems = items.filter((item) => item.featured);
---

<Section id="projects" title={title}>
  <div class="space-y-16 md:px-32">
    {
      featuredItems.map((project, index) => (
        <CardProject
          project={project}
          index={index}
          sourceCode={sourceCode}
          liveDemo={liveDemo}
        />
      ))
    }
  </div>

  <div class="text-center mt-12">
    <Button
      href={`/${lang}/projects`}
      text={viewAll}
      icon="icon-arrow-right"
      class="group inline-flex items-center px-6 pb-3 font-semibold"
      iconClass="h-5 w-5 ml-2 group-hover:translate-x-1 transition-transform duration-300"
    />
  </div>
</Section>
