---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import BlogView from "@/components/blog/BlogView";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const contentBlog = t("blog");
const contentBreadcrumbs = t("breadcrumbs");

const allPosts = (await getCollection("blog"))
  .filter((post) => post.data.language === lang)
  .map((post) => ({
    ...post.data,
    date: post.data.publishDate.toISOString(),
  }));

const tags = [...new Set(allPosts.flatMap((p) => p.tags))];
---

<Layout type="blog">
  <main class="container pt-24 mx-auto">
    <!-- Breadcrumbs -->
    <div class="mx-auto">
      <nav class="flex items-center space-x-2 text-sm">
        <a href="/">{contentBreadcrumbs.home}</a>
        <svg class="w-4 h-4"><use href="#icon-chevron-right"></use></svg>
        <span>{contentBreadcrumbs.blog}</span>
      </nav>
    </div>

    <BlogView
      client:visible
      posts={allPosts}
      lang={lang}
      tags={tags}
      t={contentBlog}
    />
  </main>
</Layout>
