---
const {
  href,
  text,
  icon,
  class: className = "",
  iconClass = "w-4 h-4",
  ...props
} = Astro.props;
---

<a href={href} class={` ${className}`} {...props}>
  <span>{text}</span>
  {
    icon && (
      <svg class={iconClass}>
        <use href={`#${icon}`} />
      </svg>
    )
  }
</a>
